<strong>Sua conta foi criada com sucesso!</strong>

<p>Obrigada por se juntar a TGL</p>

<p>Para começar a apostar é só logar som esse email ({{email}}) no nosso site.</p>

<p>Atenciosamente, equipe TGL</p>
