<strong>Suas apostas foram realizadas com sucesso!</strong>

<p>Obrigada por apostar com a TGL, {{name}}</p>

<p>Você fez as seguintes apostas: {{games}}</p>

<a>Repetir aposta</a>

<p>Equipe TGL</p>
